{% load static %}
<footer class="site-footer">
    <img src="{% static 'images/background/footer-bg-1-1.png' %}" class="footer-bg" alt="Awesome Image" />
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-widget about-widget">
                        <div class="widget-title">
                            <h3>About</h3>
                        </div><!-- /.widget-title -->
                        <p>There are many vari of pass of lorem ipsum availab but the majority have suffered in some form by injected humour or words</p>
                        <div class="social-block">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div><!-- /.social-block -->
                    </div><!-- /.footer-widget about-widget -->
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h3>Links</h3>
                        </div><!-- /.widget-title -->
                        <ul class="link-lists">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Get a Taxi</a></li>
                            <li><a href="#">Our Reviews</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-2 -->
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h3>Contact</h3>
                        </div><!-- /.widget-title -->
                        <p>86 Road Broklyn Street, 600 <br> New York, USA</p>
                        <ul class="contact-infos">
                            <li><i class="fa fa-envelope"></i> needhelp@conexi.com</li>
                            <li><i class="fa fa-phone-square"></i> 666 888 000</li>
                        </ul><!-- /.contact-infos -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-4">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h3>Newsletter</h3>
                        </div><!-- /.widget-title -->
                        <p>Sign up now for our mailing list to get all latest news <br> and updates from conexi company.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" name="email" placeholder="Enter your email">
                            <button type="submit">Go</button>
                        </form>
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.upper-footer -->
    <div class="bottom-footer">
        <div class="container">
            <div class="inner-container">
                <div class="left-block">
                    <a href="index-2.html" class="footer-logo"><img src="{% static 'images/resources/logo-1-1.png' %}" alt="Awesome Image" /></a>
                    <span>&copy; 2020 <a href="#">Tonatheme.com</a></span>
                </div><!-- /.left-block -->
                <div class="right-block">
                    <ul class="link-lists">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div><!-- /.right-block -->
            </div><!-- /.inner-container -->
        </div><!-- /.container -->
    </div><!-- /.bottom-footer -->
</footer>