{% load static %}
<div class="main-banner-wrapper">
    <section class="banner-style-one owl-theme owl-carousel no-dots">
        <div class="slide slide-one" style="background-image: url({% static 'images/slider/slider-1-1.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="banner-title">Cheap & Trusted <br> Taxi Company</h3>
                        <p>Enjoy your comfortable trip with <br> conexi company taxi</p>
                        <div class="btn-block">
                            <a href="#" class="banner-btn">Learn More</a>
                        </div><!-- /.btn-block -->
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide -->
        <div class="slide slide-two" style="background-image: url({% static 'images/slider/slider-1-2.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="banner-title">Cheap & Trusted <br> Taxi Company</h3>
                        <p>Enjoy your comfortable trip with <br> conexi company taxi</p>
                        <div class="btn-block">
                            <a href="#" class="banner-btn">Learn More</a>
                        </div><!-- /.btn-block -->
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide -->
    </section><!-- /.banner-style-one -->
    <div class="carousel-btn-block banner-carousel-btn">
        <span class="carousel-btn left-btn"><i class="conexi-icon-left"></i></span>
        <span class="carousel-btn right-btn"><i class="conexi-icon-right"></i></span>
    </div><!-- /.carousel-btn-block banner-carousel-btn -->
</div>